
<ui-view class="main-panel home-view" id="main-content-section">
	<div class="row">
		
		<!-- News & Announcements -->
		<div class="col-sm-4 col-md-4 col-lg-3">
			<div class="news-feed panel panel-default" ng-init="form.expandnews = false">
				<div class="panel-heading"><h2>News & Announcements</h2></div>
				<div class="panel-body">
					<tmpl-recent-activity id="anchor-recent" x-form="form"></tmpl-recent-activity>
				</div>
				<div class="panel-footer">
					<a class="show-all-news-link btn btn-link" href="/news">View all News & Announcements</a>
				</div>
			</div>
		</div>

		<!-- Map Container -->
		<div class="col-sm-8 col-md-8 col-lg-9">
			<tmpl-projects-map id="anchor-map" x-projects='projects'></tmpl-projects-map>
		</div>

	</div>

	<!-- Mine List -->
	<div class="panel panel-default no-margin">
		<div class="panel-heading"><h2>Mining Projects</h2></div>
		<tmpl-projects-list2 id="anchor-list" x-projects="projects"></tmpl-projects-list2>
	</div>

</ui-view>


