// THEME
@import "modules/core/client/scss/themes/default.scss";

// GLOBAL
@import "modules/core/client/scss/global/mixins.scss";
@import "modules/core/client/scss/global/helpers.scss";
@import "modules/core/client/scss/global/header.scss";
@import "modules/core/client/scss/global/footer.scss";
@import "modules/core/client/scss/global/layout.scss";

// COMPONENTS
@import "modules/core/client/scss/components/accordion.scss";
@import "modules/core/client/scss/components/alert.scss";
@import "modules/core/client/scss/components/badges.scss";
@import "modules/core/client/scss/components/buttons.scss";
@import "modules/core/client/scss/components/drag-and-drop.scss";
@import "modules/core/client/scss/components/file-browser.scss";
@import "modules/core/client/scss/components/forms.scss";
@import "modules/core/client/scss/components/info-blocks.scss";
@import "modules/core/client/scss/components/lists.scss";
@import "modules/core/client/scss/components/misc.scss";
@import "modules/core/client/scss/components/modal.scss";
@import "modules/core/client/scss/components/panel.scss";
@import "modules/core/client/scss/components/pdf-viewer.scss";
@import "modules/core/client/scss/components/spinner.scss";
@import "modules/core/client/scss/components/table.scss";
@import "modules/core/client/scss/components/tabs.scss";
@import "modules/core/client/scss/components/task-list.scss";
@import "modules/core/client/scss/components/ng-table-overrides.scss";

// MODULES
@import "modules/activities/client/scss/activities.scss";
@import "modules/collections/client/scss/collections.scss";
@import "modules/communications/client/scss/communications.scss";
@import "modules/conditions/client/scss/conditions.scss";
@import "modules/documents/client/scss/document-manager.scss";
@import "modules/invitations/client/scss/invitations.scss";
@import "modules/maps/client/scss/map.scss";
@import "modules/project-conditions/client/scss/project-conditions.scss";
@import "modules/projects/client/scss/project-details.scss";
@import "modules/projects/client/scss/project-enforcements.scss";
@import "modules/projects/client/scss/projects-abstract.scss";
@import "modules/projects/client/scss/edit-project-form.scss";
@import "modules/projects/client/scss/edit-project-ownership.scss";
@import "modules/projects/client/scss/edit-project-site-activities.scss";
@import "modules/recent-activity/client/scss/recent-activity.scss";
@import "modules/documents/client/components/doc-categories/doc-categories";
@import "modules/documents/client/styles/documents.confirm.scss";
@import "modules/users/client/scss/users.scss";
