<form class="edit-public-content-form view-form" name="publicContentForm" novalidate>

  <div class="view-title-container">
    <h1>Edit Public Content</h1>
    <div class="actions">
      <button class="btn btn-default btn-sm"
        ng-click="cancelChanges('Cancel Changes', 'Are you sure you would like to exit and discard all changes', 'Cancel Changes', 'Go Back')">
        Cancel
      </button>
      <button class="btn btn-primary btn-sm" type="submit"
        ng-click="saveProject(publicContentForm.$valid)">
        Save
      </button>
    </div>
  </div>

  <div class="view-body-container">
    <ul class="nav nav-tabs" ng-init="form.curTab = 'mine-summary-tab'">
      <li class="form-group" role="presentation"
        ng-class="{'active':form.curTab === 'mine-summary-tab'}" >
        <a title="Edit Project Details"
          ng-click="form.curTab = 'mine-summary-tab'">
          Mine Summary
        </a>
      </li>
      <li class="form-group" role="presentation"
        ng-class="{'active':form.curTab === 'authorizations-tab'}">
        <a title="Edit Authorizations Content"
          ng-click="form.curTab = 'authorizations-tab'">
          Authorizations
        </a>
      </li>
      <li class="form-group" role="presentation"
        ng-class="{'active':form.curTab === 'compliance-oversight-tab'}" >
        <a title="Edit Compliance Oversight Content"
          ng-click="form.curTab = 'compliance-oversight-tab'">
          Compliance Oversight
        </a>
      </li>
      <li class="form-group" role="presentation"
        ng-class="{'active':form.curTab === 'other-documents-tab'}" >
        <a title="Edit Other Documents Content"
          ng-click="form.curTab = 'other-documents-tab'">
          Other Documents
        </a>
      </li>
    </ul>

    <!-- MINE SUMMARY -->
    <div class="tab-pane"
      ng-show="form.curTab === 'mine-summary-tab'">
      <div class="form-group" x-show-errors>
        <label class="control-label" for="subtitle">Subtitle<em class="required">(Required)</em></label>
        <div class="m-b-1">A brief subtitle displayed above the content tabs.</div>
        <input class="form-control" title="Mine Subtitle" id="subtitle" name="subtitle" ng-model="project.subtitle" required />
        <div ng-messages="projectForm.subtitle.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Subtitle is required.</p>
        </div>
      </div>
      <div class="form-group" x-show-errors>
        <label class="control-label m-b-0" for="mineIntro">Introduction<em class="required">(Required)</em></label>
        <div class="m-b-1">A full description of the mine.</div>
        <textarea class="form-control" title="Mine Introduction" id="mineIntro" name="mineIntro"
          ng-model="mineIntro"
          ui-tinymce="tinymceOptions"
          required>
        </textarea>
        <div ng-messages="projectForm.mineIntro.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Introduction is required.</p>
        </div>
      </div>
    </div>

    <!-- AUTHORIZATIONS -->
    <div class="tab-pane"
      ng-show="form.curTab === 'authorizations-tab'">
      <div class="form-group" x-show-errors>
        <label class="control-label m-b-0" for="authIntro">Introduction<em class="required">(Required)</em></label>
        <div class="m-b-1">An introduction to the Authorizations tab.</div>
        <textarea class="form-control" title="Authorizations Introduction" id="authIntro" name="authIntro"
          ng-model="authIntro"
          ui-tinymce="tinymceOptions"
          required>
        </textarea>
        <div ng-messages="projectForm.authIntro.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Introduction is required.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label class="control-label" for="morePermitsLink">More Permits Link</label>
            <input class="form-control" title="More Permits Link" id="morePermitsLink" name="morePermitsLink" ng-model="project.morePermitsLink" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label" for="morePermitsYear">Prior To Year</label>
            <input class="form-control" title="More Permits Year" type="number" id="morePermitsYear" name="morePermitsYear" ng-model="project.morePermitsLinkYear" />
          </div>
        </div>
      </div>
    </div>

    <!-- COMPLIANCE OVERSIGHT -->
    <div class="tab-pane"
      ng-show="form.curTab === 'compliance-oversight-tab'">
      <div class="form-group" x-show-errors>
        <label class="control-label m-b-0" for="compIntro">Introduction<em class="required">(Required)</em></label>
        <div class="m-b-1">An introduction to the Compliance Oversight tab.</div>
        <textarea class="form-control" title="Compliance Introduction" id="compIntro" name="compIntro"
          ng-model="compIntro"
          ui-tinymce="tinymceOptions"
          required>
        </textarea>
        <div ng-messages="projectForm.compIntro.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Introduction is required.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label class="control-label" for="moreInspectionsLink">More Inspections Link</label>
            <input class="form-control" title="More Inspections Link" id="moreInspectionsLink" name="moreInspectionsLink" ng-model="project.moreInspectionsLink" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label" for="moreInspectionsYear">Prior To Year</label>
            <input class="form-control" title="More Inspections Year" type="number" id="moreInspectionsYear" name="moreInspectionsYear" ng-model="project.moreInspectionsLinkYear" />
          </div>
        </div>
      </div>
    </div>

    <!-- OTHER -->
    <div class="tab-pane"
      ng-show="form.curTab === 'other-documents-tab'">
      <div class="form-group" x-show-errors>
        <label class="control-label m-b-0" for="otherIntro">Introduction</label>
        <div class="m-b-1">An introduction to the Other Documents tab.</div>
        <textarea class="form-control" title="Other Introduction" id="otherIntro" name="otherIntro"
          ng-model="otherIntro"
          ui-tinymce="tinymceOptions"
          required>
        </textarea>
        <div ng-messages="projectForm.otherIntro.$error" role="alert">
          <p class="help-block error-text" ng-message="required">Introduction is required.</p>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="form-footer">
      <div class="form-footer__buttons">
        <button class="btn btn-default btn-sm"
          ng-click="cancelChanges('Cancel Changes', 'Are you sure you would like to exit and discard all changes', 'Cancel Changes', 'Go Back')">
          Cancel
        </button>
        <button class="btn btn-primary btn-sm" type="submit"
          ng-click="saveProject(publicContentForm.$valid)">
          Save
        </button>
      </div>
    </div>

  </div>

<form>
