.edit-project-form {
  max-width: 1280px;

  .form-footer {
    margin-top: 2.5rem;
  }

  .checkbox {
    label {
      padding-left: 2rem;
      font-weight: bold;
    }
  }

  .lat-input {
    padding-right: 0.4rem;
  }
  .long-input {
    padding-left: 0.4rem;
  }
}

.edit-public-content-form {
  .view-title-container {
    .btn {
      min-width: 8rem;
    }
  }

  .form-footer {
    @include flexbox();
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid #ccc;
    justify-content: flex-end;

    &__buttons {
      @include flex(0 0 auto);

      .btn {
        min-width: 8rem;
      }
    }
  }
}
