.edit-project-form {
    max-width: 1280px;

    .form-footer {
        margin-top: 2.5rem;
    }

    .checkbox {
        label {
            padding-left: 2rem;
            font-weight: bold;
        }
    }

    .lat-input {
		padding-right: 0.4rem;
	}
	.long-input {
		padding-left: 0.4rem;
	}
}